<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>

  <link href="https://fonts.googleapis.com/css?family=Arvo:400,700|Open+Sans:400,700" rel="stylesheet">
  {{! update this and the file name }}
  <link rel="stylesheet" href="/assets/stylesheets/icy-ewe.0.0.2.css">
</head>

<body>
  <style>
    form {
      background: white;
      padding: 20px;
      border-radius: 4px;
      margin: 40px;
    }
  </style>

  <form action="/add-user"
        method="post"
        encType="multipart/form-data">
    {{#unless companies.length}}
      <h3>You need to add a company before you can add people.</h3>
    {{else}}
      <label for="input__person_name">Name*</label>
      <input id="input__person_name" type="text" name="name" required>

      <br>

      <label for="input__person_primary">Is primary contact*</label>
      <input id="input__person_primary" type="checkbox" name="primary">

      <br>

      <label for="input__person_email">Email*</label>
      <input id="input__person_email" type="email" name="email" required>

      <br>

      <label for="input__person_phone">Phone</label>
      <input id="input__person_phone" type="tel" name="phone">

      <br>

      <label for="input__person_thumb">Image</label>
      <input id="input__person_thumb" type="file" name="thumb">

      <br>

      <label for="input__person_company_id">Company*</label>
      <select id="input__person_company_id"t name="id" required>
        <option label="-- Choose your company --" selected disabled></option>
        {{#each companies}}
          <option label="{{ this.company_name }}" value="{{ this.id }}"></option>
        {{/each}}
      </select>

      <br>

      <button>Submit</button>
    {{/unless}}
  </form>

  <form action="/add-company" method="post">
    <label for="input__company_name">Name*</label>
    <input id="input__company_name" type="text" name="name" required>

    <br>

    <label for="input__company_primary">Is primary company*</label>
    <input id="input__company_primary" type="checkbox" name="primary">

    <br>

    <label for="input__company_address_line_1">Address line 1*</label>
    <input id="input__company_address_line_1" type="text" name="address_line_1" required>

    <br>

    <label for="input__company_address_line_2">Address line 2</label>
    <input id="input__company_address_line_2" type="text" name="address_line_2">

    <br>

    <label for="input__company_address_line_3">Address line 3</label>
    <input id="input__company_address_line_3" type="text" name="address_line_3">

    <br>

    <label for="input__company_address_line_4">Address line 4</label>
    <input id="input__company_address_line_4" type="text" name="address_line_4">

    <br>

    <label for="input__company_city">City*</label>
    <input id="input__company_city" type="text" name="city" required>

    <br>

    <label for="input__company_region">Region</label>
    <input id="input__company_region" type="text" name="region">

    <br>

    <label for="input__company_postcode">Post/Zip code</label>
    <input id="input__company_postcode" type="text" name="postcode">

    <br>

    <label for="input__company_country">Country*</label>
    <select id="input__company_country" type="text" name="country" required>
      <option disabled selected>-- Choose a country --</option>
      {{#each primaryCountries}}
        <option value="{{ this.code }}">{{ this.name }}</option>
      {{/each}}
      <option disabled> ---- </option>
      {{#each countries}}
        <option value="{{ this.code }}">{{ this.name }}</option>
      {{/each}}
    </select>

    <br>

    <label for="input__company_phone_1">Phone no.</label>
    <input id="input__company_phone_1" type="text" name="phone_1">

    <br>

    <label for="input__company_phone_2">Secondary phone no.</label>
    <input id="input__company_phone_2" type="text" name="phone_2">

    <br>

    <label for="input__company_notes">Other notes</label>
    <textarea id="input__company_notes" type="text" name="notes"></textarea>

    <br>

    <button>Submit</button>
  </form>
</body>
